.title{
    color:blue;
}

/* .custom-menu-class { 
    background-color:pink; 
} */

.custom-menu-class ul li {
    list-style: none;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}

.custom-menu-class ul li a {
    color: black;
}
