html, body {
height: 100%;
margin: 0;
}
.row{
    margin:0!important;
}

header{
width:100%;
}

.display-4{
    font-size:2.5rem!important;
}
.active{
font-weight: bold;
border-bottom: 5px solid currentColor;
}

header .navbar li a{
font-size: 1.2em;
}

ul, li{
list-style-type: none;
margin-bottom: 1.5em;
}

.sidenav li{
    padding-bottom:0.3em;
}

.sidenav li .widget-title{
    border-bottom: 3px solid black;
    
}

.page-wrap{
padding: 2rem 0;
}
.top-bar {
/* height:70px; */
margin:0;
padding:0;
list-style: none;
padding:20px;
/* border:2px solid red; */
}
.top-bar li{
display:inline;
}
.top-bar a{
padding: 0.25rem 1rem;
}
.menu-item a {
font-weight: bold;
font-size: 1em;
text-transform: uppercase;
}
.top-bar li .sub-menu{
/* margin-left: 135px; */
/* display:none; */
}
#menu-item-61:hover > .submenu{
/* display: block; */
}

.page-wrap {
min-height: 100%;
}

.thumbnail-image{
    width:7em;
    height:auto;
    display:block;
    margin:0 auto;
}

/* FOOTER STYLES */

.footer {
overflow:auto;
margin-top: -50px;
}

/* floats */
.quarter,
.one-third,
.two-thirds,
.half {
float: left;
}

/* widths */
.one-third {
width: 32%;
}
.two-thirds {
width: 65.5%;
}
.quarter {
width: 23.5%;
}
.three-quarters {
width: 74.5%;
}
.half {
width: 48%;
}

/* margins  */
.one-third {
margin: 0 0.5%;
}
.quarter,
.two-thirds {
margin: 0 0.5%;
}
.left,
.quarter.left,
.one-third.left {
margin: 0 1% 0 0;
float: left;
}
.right,
.quarter.right,
.one-third.right {
margin: 0 0 0 1%;
float: right;
}
.half.left {
width: 48%;
margin: 0 2% 0 0;
}
.half.right {
width: 48%;
margin: 0 0 0 2%;
}
.two-thirds.left {
margin: 0 1% 0 0;
}
.two-thirds.right {
margin: 0 0 0 1%;
float: right;
}
.woocommerce-form-row .woocommerce-form-row--wide .form-row .form-row-wide,
.woocommerce-Input .woocommerce-Input--text.input-text{
    max-width:100%;
}
.woocommerce-billing-fields__field-wrapper,
    .woocommerce-billing-fields__field-wrapper p,
    .woocommerce-additional-fields div p,
    label{
        display:flex;
        flex-direction: column;
    }
.woocommerce form.login,
.woocommerce form.register {
width:fit-content;
}

.u-column1 {
    max-width:100%;
}
@media screen and ( min-width: 780px ) {
    .woocommerce-checkout{
        display:flex;
        flex-direction: row;
    }
    .column2-set,
    .order-review{
        width:50%;
    }
    
}

/* media queries for larger screens such as small tablets in landscape or large tablets in portrait */
@media screen and ( max-width: 780px ) {
    .sidenav{
        display:none;
    }
/* only the .quarter layout class is relevant here - all other classes will have full width */
.quarter {
    width: 48%;
}
.quarter.left {
    margin-right: 2%;
}
.quarter.right {
    margin-left: 2%;
}
footer .third.quarter.widget-area {
    clear: both;
}
 
}

/* media queries for small screens in landscape mode (or similar) */
@media screen and ( max-width: 600px ) {

    .sidenav{
        display:none;
    }
/* width sizing all full width in small screens */
.quarter,
.one-third,
.half,
.two-thirds,
.three-quarters,
.full-width {
    width: 100%;
    margin: 0;
}
/* padding adjustments */
.widget-area {
    padding: 0 0 10px 0;
}
}

#customer_details {
display: flex;
flex-direction: column;
}

#customer_details .col-1,
#customer_details .col-2 {
width: 50%;
max-width: 100%;
flex: 1 0 auto;
}

.col-1, .col-2{
width:100%!important;
}
